body {
	background-color: #ddd;
	font-family: "Noto+Sans", Helvetica;
}

.top {
	background-image: url("../assets/images/background.png");
	background-position: 50% 50%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.left {
	position: relative;
}

.right {
	float: right;
}

.top .left {
	margin: 30px 0;
	text-align: center;
}

.header {
	overflow: hidden;
}

h1 {
	color: #2574a9;
	font-size: 72px;
}

h2 {
	color: #fff;
	float: right;
	font-size: 60px;
}

.bottom {
	color: #222;
	font-size: 28px;
}

.bottom a {
	color: #222;
	text-decoration: none;
}

.bottom a:hover {
	text-decoration: underline;
}

.bottom .right {
	margin-top: 20px;
}

.center {
	text-align: center;
}

img.button {
	height: 60px;
	margin: 10px 0 20px;
}

.bottom li {
	display: inline;
}

.copyright {
	font-size: 16px;
}

@media (min-width: 992px) {
	h2 {
		margin-top: 80px;
	}

	.top img {
		left: 10px;
		position: absolute;
	}
}